<p id="notice"><%= notice %></p>

<p>
  <strong>Specialty name:</strong>
  <%= @speciality.name %>
</p>
<p>
  <strong>Employees:</strong>
    <% @speciality.employees.each do |employee| %>
    <%= employee.name %>&nbsp;
    <% end %>
</p>

<%= link_to 'Edit', edit_speciality_path(@speciality) %> |
<%= link_to 'Back', specialities_path %>
